<!DOCTYPE html>
<html>
<head>
    <title>Gitlab Status</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>{{ user }} Gitlab Dashboard</h1>

    <h2>Merge Requests</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Project</th>
        </tr>
        <tbody id="open_merge_requests_table_body"></tbody>
    </table>

    <h2>Issues</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Project</th>
        </tr>
        <tbody id="open_issues_table_body"></tbody>
    </table>

    <script src="{{ url_for('static', filename='update_table.js') }}"></script>
</body>
</html>
