/* styles.css */
body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
}

h1 {
    color: #666;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin: 20px auto;
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f0f0f0;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    color: #0099ff;
}
